{% load staticfiles %}
<style>

body {
	  font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}

.x.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.x.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

</style>
<script>
function {{ load_fn }}(container){
	var margin = {top: 20, right: 20, bottom: 30, left: 50},
		width = 960 - margin.left - margin.right,
		height = 500 - margin.top - margin.bottom;

	var x = d3.scale.linear()
		.range([0, width]);

	var y = d3.scale.linear()
		.range([height, 0]);

	var xAxis = d3.svg.axis()
		.scale(x)
		.orient("bottom");

	var brush = d3.svg.brush()
		.x(x)
		.extent([0, 0])
		.on("brush", brushed);

	var yAxis = d3.svg.axis()
		.scale(y)
		.orient("left");

	var line = d3.svg.line()
		.x(function(d) { return x(d.value); })
		.y(function(d) { return y(d.frequency); });

	var svg = d3.select(container).append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
	  .append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	//d3.tsv("data.tsv", function(error, data) {
	//  if (error) throw error;
	data = [
	{'value': 0, 'frequency': Math.floor((Math.random() * 2) + 1)},
	{'value': 1, 'frequency': Math.floor((Math.random() * 4) + 2)},
	{'value': 2, 'frequency': Math.floor((Math.random() * 4) + 2)},
	{'value': 3, 'frequency': Math.floor((Math.random() * 6) + 4)},
	{'value': 4, 'frequency': Math.floor((Math.random() * 6) + 4)},
	{'value': 5, 'frequency': Math.floor((Math.random() * 10) + 6)},
	{'value': 6, 'frequency': Math.floor((Math.random() * 10) + 6)},
	{'value': 6, 'frequency': Math.floor((Math.random() * 6) + 4)},
	{'value': 7, 'frequency': Math.floor((Math.random() * 6) + 4)},
	{'value': 8, 'frequency': Math.floor((Math.random() * 4) + 2)},
	{'value': 9, 'frequency': Math.floor((Math.random() * 4) + 2)},
	{'value': 10, 'frequency': Math.floor((Math.random() * 2) + 1)}]

	  x.domain(d3.extent(data, function(d) { return d.value; }));
	  y.domain(d3.extent(data, function(d) { return d.frequency; }));

	  svg.append("g")
		  .attr("class", "x axis")
		  .attr("transform", "translate(0," + height + ")")
		  .call(xAxis);

	  svg.append("g")
		  .attr("class", "y axis")
		  .call(yAxis)
		.append("text")
		  .attr("transform", "rotate(-90)")
		  .attr("y", 6)
		  .attr("dy", ".71em")
		  .style("text-anchor", "end")
		  .text("Frequency");

	  svg.append("path")
		  .datum(data)
		  .attr("class", "line")
		  .attr("d", line);

		var slider = svg.append("g")
			.attr("class", "slider")
			.call(brush);
		slider.selectAll(".extent,.resize")
			.remove();
		slider.select(".background")
			.attr("height", height);
		var handle = slider.append("circle")
			.attr("class", "handle")
			.attr("transform", "translate(0," + height + ")")
			.attr("r", 9);
		slider
			.call(brush.event)
		  .transition() // gratuitous intro!
			.duration(750)
			.call(brush.extent([5, 5]))
			.call(brush.event);
		function brushed() {
		  var value = brush.extent()[0];
		  if (d3.event.sourceEvent) { // not a programmatic event
			value = x.invert(d3.mouse(this)[0]);
			brush.extent([value, value]);
		  }
		  handle.attr("cx", x(value));
		  console.log(value)
		}
	//});
}
</script>
