{% load staticfiles %}
<style>

body {
	  font: 10px sans-serif;
}

.stats-container, .prediction-container {
	float: left;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.slider .background {
	fill: #F9CB9C;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: ew-resize;
}

.slider .handle:hover,
.slider .handle:active{
	fill: #000;
	fill-opacity: .5;
}

.x.axis .domain {
  fill: none;
  stroke: none;
}

.x.axis.lined .domain {
  stroke: #000;
}

.x.axis .halo {
  fill: none;
  stroke: none;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

rect.bar {
	fill: #cfe2f3;
}

rect.bar:hover {
	fill: #f9cb9c;
	cursor: pointer;
}

rect.bar.active {
	fill: #f9cb9c;
	stroke: black;
	stroke-width: 3px;
}
</style>
<script type='text/javascript' src="{% static 'js/gaussian.js' %}"></script>
<script>
function {{ load_fn }}(container){
	$(container).append($("<div>").addClass("stats-container"));
	$(container).append($("<div>").addClass("prediction-container"));
	var update_fn = {{ load_fn }}_prediction(".prediction-container");
	{{ load_fn }}_stats(".stats-container", update_fn);
	update_fn(6,0.2);
}

function {{ load_fn }}_stats(container, update_fn){
	var margin = {top: 20, right: 20, bottom: 40, left: 50},
		width = 400 - margin.left - margin.right,
		height = 250 - margin.top - margin.bottom;

	var sliderHeight = 20, sliderMargin = 5, sliderPadding = 3;
	var plotHeight = height - sliderHeight - sliderMargin;

	d3.json("/stats/avg_grade/", function(error, data) {
		if (error) throw error;

		var total_count = 0;

		var predictions = {}

		data.forEach(function(d, i){
			total_count += d['count'];
			predictions[""+d['id']] = d['predictions'];
		});

		data.forEach(function(d, i){
			d['label'] = Math.round(10*(d.lower+d.upper)/2)/10;
			d.count = d.count / total_count
		});

		var barWidth = width / data.length;

		var x = d3.scale.ordinal()
			.rangeBands([0, width], 0.1);

		var y = d3.scale.linear()
			.range([plotHeight, 0]);

		x.domain(data.map(function(d) { return d.label }));
		y.domain(d3.extent(data, function(d) { return d.count; }));

		var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom");

		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left")
			.ticks(5, "%");

		var chart = d3.select(container).append("svg")
			.attr("width", width +margin.left + margin.right)
			.attr("height", height + margin.top + margin.bottom)
		   .append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		var bar = chart.selectAll("g")
			.data(data)
		  .enter().append("g")
			.attr("transform", function(d, i) {
				return "translate(" + x(d.label) + ",0)"; });

		bar.append("rect")
			.attr("class", "bar")
			.attr("data-label", function(d){ return d.label })
			.attr("data-bin", function(d){ return d.id })
			.attr("y", function(d){ return y(d.count) })
			.attr("height", function(d){ return plotHeight-y(d.count) })
			.attr("width", x.rangeBand())
			.on("click", function(){ update_active(this) });

		chart.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate(0," + height + ")")
			.call(xAxis)
			.append("text")
			.style("text-anchor", "end")
			.attr("x", width-10)
			.attr("y", sliderHeight+10)
			.text("average grade");

		chart.append("g")
			.attr("class", "y axis")
			.call(yAxis)
			.append("text")
			.attr("transform", "rotate(-90)")
			.attr("y", 6)
			.attr("dy", ".71em")
			.style("text-anchor", "end")
			.text("# students");

		var brush = d3.svg.brush()
			.x(x)
			.extent([0, 0])
			.on("brush", brushed);

		var slider = chart.append("g")
			.attr("class", "slider")
			.call(brush);

		slider.selectAll(".extent,.resize")
			.remove();

		slider.select(".background")
			.style("visibility", "visible")
			.style("cursor", "pointer")
			.attr("y", height-sliderHeight)
			.attr("height", sliderHeight);

		var handle = slider.append("rect")
			.attr("class", "handle")
			.attr("y", height-sliderHeight+sliderPadding)
			.attr("width", x.rangeBand())
			.attr("height", sliderHeight-(2*sliderPadding));
		slider
			.call(brush.extent([2.5, 2.5]))
			.call(brush.event);


		function brushed() {
			var value = brush.extent()[0];
			if (d3.event.sourceEvent) { // not a programmatic event
				var coord = d3.mouse(this)[0];
				var distances = x.range().map(function(r,i){
					return Math.abs(r + (x.rangeBand()/2) - coord);
				});
				var i = distances.indexOf(Math.min.apply(Math,distances));
				value = x.domain()[i];
				update_active("rect[data-label='"+value+"']");
				//console.log("value:"+value+" , x:" + x(""+value));
				brush.extent([value, value]);
			}
			if(x(""+value)){
				update_active("rect[data-label='"+value+"']");
			}
		}

		function update_active(bar){
			d3.select('.bar.active').classed("active",false)
			d3.select(bar).attr("class","bar active")
			handle.attr("x", x(d3.select(bar).attr("data-label")));
			params = predictions[d3.select(bar).attr("data-bin")]["avg_grade"];
			update_fn(params['mean'], params['variance']);
		}
	});
}

function {{ load_fn }}_prediction(container){
	var data = [];

	// line chart based on http://bl.ocks.org/mbostock/3883245
	var margin = {
			top: 20,
			right: 20,
			bottom: 30,
			left: 50
		},
		width = 400 - margin.left - margin.right,
		height = 250 - margin.top - margin.bottom;

	var x = d3.scale.linear()
		.range([0, width])
		.domain([0,10]);

	var y = d3.scale.linear()
		.range([height, 0]);

	var xAxis = d3.svg.axis()
		.scale(x)
		.orient("bottom")
		.ticks(10);

	var yAxis = d3.svg.axis()
		.scale(y)
		.orient("left")
		.ticks(10, "%");

	var line = d3.svg.line()
		.x(function(d) {
			return x(d.x);
		})
		.y(function(d) {
			return y(d.y);
		});

	var svg = d3.select("body").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	svg.append("g")
		.attr("class", "x axis lined")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis)
		.append("text")
		.style("text-anchor", "end")
		.attr("x", width-10)
		.attr("y", -10)
		.text("final grade");

	svg.append("g")
		.attr("class", "y axis")
		.call(yAxis)
		.append("text")
		.attr("transform", "rotate(-90)")
		.attr("y", 6)
		.attr("dy", ".71em")
		.style("text-anchor", "end")
		.text("probability");

	var curve = svg.append("path")
		.datum(data)
		.attr("class", "line")
		.attr("d", line);

	return function(mean, variance){
		var noise = 0.10;
		var distribution = gaussian(mean, variance+noise);
		data = [];
		for(var i = 0; i < 10; i += 0.05){
			data.push({'x': i, 'y': distribution.pdf(i)});
		}

		y.domain(d3.extent(data, function(d) {
			return d.y;
		}));
		curve.transition().attr("d", line(data));
	}
}
</script>
