{% load staticfiles %}
<!DOCTYPE html>
<html>
<head><title>Stats viewer</title>
</head>
<body>
<style>
	#bar_stats {
		width: 800px;
		margin: auto;
	}
</style>
<div id="bar_stats"></div>
<div id="prediction"></div>
<script type='text/javascript' src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "js/jquery-1.11.3.min.js" %}">\x3C/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script>window.d3 || document.write('<script src="{% static "js/d3.min.js" %}">\x3C/script>')</script>
{% include "barchart.html" with load_fn="loadbar" %}
<script>
$(function(){
	loadbar("#bar_stats");
});
</script>
</html>
